
.booking-status {
    font-size: 14px;
    border-radius: 15px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    display: inline-block;
}
.pending {
    background: #E7F7B4;
}
.approved {
    background: #ACE4F7;
}
.reject {
    background: #FCC6D0;
}
/* Modal Box */
/* Modal Box */