:root {
    --header-height: 100px;
    --nav-width: 70px;
    --primary-color: #4FC1E9;
    --secondary-color: #E5FDFF;
    --font-color: #344A53;
    --white-color: #fff;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 18px;
    --title-font-size: 32px;
    --subtitle-font-size: 24px;
    --z-fixed: 100;
}
.main-title {
    font-size: 32px;
    margin-bottom: 60px;
}
.sub-title {
    font-size: 24px;
    margin-bottom: 30px;
}
.modal-open .modal {
    overflow-y: hidden;
}
*,
::before,
::after {
    box-sizing: border-box
}
.btn-check:focus+.btn, .btn:focus, .form-select:focus {
    box-shadow: none!important;
}
select:focus-visible,
input:focus-visible,
.input-group>.form-control:focus, 
.input-group>.form-select:focus {
    outline: none;
    box-shadow: none!important;

}
body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    color: var(--font-color);
    background-color: var(--secondary-color);
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}
p {
    margin-bottom: 0;
}
.detail-modal .btn-close {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #03a9f4;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    transition: all .3s ease;
}
.detail-modal .btn-close:hover {
    background: var(--font-color);
    opacity: 1;
    transition: all .3s ease;
}
.detail-modal .modal-header {
    justify-content: center!important;
    margin-bottom: 25px;
}
.detail-modal .modal-header .main-title {
    margin-bottom: 25px;
}
.detail-modal .modal-header::after {
    content: '';
    width: 700px;
    position: absolute;
    border: 1px solid var(--primary-color);
    bottom: 20px;
}
.detail-modal .sub-title i {
    color: var(--primary-color);
    transform: rotate(45deg);
    margin-right: 15px;
    font-size: 18px;
}
.detail-modal .main-title span {
    color: var(--primary-color);
}
.detail-modal .sub-title {
    font-weight: 400;
    font-size: 18px;
    font-weight: 500;
}
.detail-modal .modal-body p,
.booking-detail-modal .modal-body .input-group  {
    padding-left: 40px;
    font-weight: 100;
}

.detail-modal .modal-body p i {
    margin-right: 10px;
}
.detail-modal .modal-content {
    padding: 20px;
    border-radius: 20px;
}
.detail-modal .modal-body .row {
    margin-bottom: 45px;
}

.detail-modal .modal-body .row:last-child {
    margin-bottom: 0px;
}
.checkin-detail-modal .modal-body .row:nth-child(2) .d-flex div,
.checkin-detail-modal .modal-body .row:nth-child(3) .d-flex div{
    width: 33.3%;
}
.checkin-detail-modal .modal-body .row:nth-child(2) .d-flex,
.checkin-detail-modal .modal-body .row:nth-child(3) .d-flex,
.booking-detail-modal .modal-body .row:nth-child(4) .d-flex,
.checkin-detail-modal .modal-body .col-lg-6  {
    margin-bottom: 35px;
}

/* For scroll bar */
#style-2 {
    height: 500px;
    overflow-y: scroll;
}
#style-2::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--white-color);
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--primary-color);
}
.booking-detail-modal .sub-title span:nth-of-type(1) {
    color: #B01016;
}
.booking-detail-modal .sub-title span:nth-of-type(2) {
    color: var(--primary-color);
}
.booking-detail-modal .modal-body .input-group input {
    max-width: 320px;
    border: 1px solid var(--font-color);
    height: 50px;
    border-radius: 0;
}

.booking-detail-modal .modal-body .input-group button {
    background: var(--font-color);
    border: none;
    width: 100px;
    margin-left: 20px!important;
    color: var(--white-color);
}
