:root {
    --header-height: 100px;
    --nav-width: 70px;
    --primary-color: #4FC1E9;
    --secondary-color: #E5FDFF;
    --font-color: #344A53;
    --white-color: #fff;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 18px;
    --title-font-size: 32px;
    --subtitle-font-size: 24px;
    --z-fixed: 100;
}
.main-title {
    font-size: 32px;
    margin-bottom: 60px;
}
.sub-title {
    font-size: 24px;
    margin-bottom: 30px;
}

*,
::before,
::after {
    box-sizing: border-box
}
.btn-check:focus+.btn, .btn:focus, .form-select:focus {
    box-shadow: none!important;
}
body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    color: var(--font-color);
    background-color: var(--secondary-color);
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}
